#experience .timeline-item-icon,
.hb-resume .timeline-item-icon,
.section-experience .timeline-item-icon {
  width: 3.5rem;
  height: 3.5rem;
}

#experience .timeline-item-icon svg,
#experience .timeline-item-icon img,
.hb-resume .timeline-item-icon svg,
.hb-resume .timeline-item-icon img,
.section-experience .timeline-item-icon svg,
.section-experience .timeline-item-icon img {
  width: 2.25rem;
  height: 2.25rem;
  max-width: 2.25rem;
  max-height: 2.25rem;
}
